* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 100, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gridContainer {
    display: grid;
    /* width: 75vw; */
    height: 80vh;
    /* border: 1px solid red; */
    aspect-ratio: 1 / 1;
}

.innerDiv {
    background-color: rgba(170, 207, 201, 0.3);
    /* padding-bottom: 100%; */
    border: 1px solid rgba(245, 245, 245, 0.486);
    aspect-ratio: 1 / 1;
}

.innerDiv:hover {
    background-color: rgb(5, 100, 84);

}
.gridSettings {
    display: flex;
    flex-direction: column;
    /* border: 1px solid whitesmoke; */
    gap: 1em;
    align-items: center;
}
h1 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    font-weight: bold;
}

button {
    width: 10vw;
    height: 2rem;
    background-color: whitesmoke;
}

input[type='color']{
    width: 10vw;
    height: 5vh;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: rgb(20, 54, 204); */
    background-color: rgba(170, 207, 201, 0.3);
    height: 0.2em;
    width: 10vw;

}
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    /* border: 1px solid yellow; */
    border-radius: 25px;
    /* background-color: r */
    
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-top: -2px;
    background-color: whitesmoke;
  }

.mainContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin: 1em;
}