* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 100, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gridContainer {
    display: grid;
    width: 75vw;
    /* border: 1px solid whitesmoke; */
}

.innerDiv {
    background-color: rgba(170, 207, 201, 0.3);
    padding-bottom: 100%;
    border: 1px solid rgba(245, 245, 245, 0.486);
    
}

.innerDiv:hover {
    background-color: rgb(5, 100, 84);

}
.gridSettings {
    display: flex;
    flex-direction: column;
    /* border: 1px solid whitesmoke; */
    gap: 1em;
    align-items: center;
}
h1 {
    color: whitesmoke;
    text-align: center;
}

p {
    color: whitesmoke;
    font-weight: bold;
}

button {
    width: 80%;
    height: 4%;
}

input[type='color']{
    width: 80%;
    height: 10%;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: rgb(20, 54, 204); */
    background-color: whitesmoke;
    height: 0.2em;
    width: 80%

}
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    /* background-color: rgb(211, 22, 186); */
    
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    /* background-color: rgb(209, 87, 31); */
  }

.mainContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin: 1em;
}