* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(5, 100, 84);
}

#gridContainer {
    display: grid;
    width: 75vw;
    /* border: 1px solid whitesmoke; */
}

.innerDiv {
    background-color: rgba(170, 207, 201, 0.3);
    padding-bottom: 100%;
    border: 1px solid rgba(245, 245, 245, 0.486);
    
}

.innerDiv:hover {
    background-color: rgb(5, 100, 84);

}

/* .gridSizeContainer { */
    /* border: 1px solid whitesmoke; */
    
/* } */

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    /* background-color: rgb(20, 54, 204); */
    background-color: whitesmoke;
    height: 0.2em;

}
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--primary-dark);
    border-radius: 25px;
    /* background-color: rgb(211, 22, 186); */
    
  }
  
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    /* background-color: rgb(209, 87, 31); */
  }

.mainContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    margin: 1em;
}